.article {
    margin-bottom: 7%;
    h4 {
        font-size: 220%;
        letter-spacing: 0.04em;
        color: #356EAD;
        margin-bottom: 4%;
    }
    .article1,
    .article2,
    .article3,
    .article4,
    .article5 {
        display: grid;
        grid-template-columns: 35% 65%;
        margin-bottom: 3%;
        height: 100%;
        img {
            width: 100%;
            height: 100%;
        }
        div {
            margin-left: 4%;
        }
        h5 {
            font-size: 200%;
            line-height: 28px;
            letter-spacing: 0.04em;
            color: #1F3F68;
            margin-bottom: 1%;
        }
        p {
            margin-bottom: 10%;
            font-size: 140%;
            line-height: 24px;
            letter-spacing: 0.04em;
            color: rgba(0, 0, 0, 0.6);
        }
    }
    .article11,
    .article21,
    .article31,
    .article41,
    .article51 {
        display: grid;
        grid-template-columns: 50% 50%;
        div {
            margin: 0;
            h6 {
                margin-bottom: 5%;
                font-size: 130%;
                letter-spacing: 0.04em;
                color: #1F3F68;
            }
            p {
                margin: 0;
                font-size: 130%;
                color: #1F3F68;
                opacity: 0.4;
            }
        }
    }
    .article111,
    .article211,
    .article311,
    .article411,
    .article511 {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        button {
            margin-left: 20%;
            border: 0;
            background-color: white;
        }
    }
    .botones {
        display: flex;
        justify-content: space-between;
        margin-top: 5%;
        button {
            border: 0;
            background-color: white;
            font-size: 150%;
            color: #356EAD;
            line-height: 18px;
            letter-spacing: 0.04em;
        }
    }
}

@media (max-width: 650px) {
    .article .article1,
    .article .article2,
    .article .article3,
    .article .article4,
    .article .article5 {
        display: flex;
        flex-wrap: wrap;
    }
    .article .article1 figure,
    .article .article2 figure,
    .article .article3 figure,
    .article .article4 figure,
    .article .article5 figure {
        width: 100%;
    }
    .article .article1 div,
    .article .article2 div,
    .article .article3 div,
    .article .article4 div,
    .article .article5 div {
        margin-left: 0;
        margin-top: 3%;
    }
    .article .article1 p,
    .article .article2 p,
    .article .article3 p,
    .article .article4 p,
    .article .article5 p {
        margin-bottom: 3%;
    }
}