@import "../variables";
header {
    div {
        display: flex;
        .circle1 {
            width: 34px;
            height: 34px;
            background-color: $primary-color;
            border-radius: 100%;
        }
        p {
            position: absolute;
            width: 30px;
            height: 30px;
            margin-left: 18px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: white;
            border-radius: 100%;
            border: solid 2px $primary-color;
            color: $primary-color;
            font-size: 17px;
            font-family: Gilroy-ExtraBold;
        }
    }
}