@font-face {
    font-family: "Gilroy-ExtraBold";
    src: url("/fonts/Gilroy-ExtraBold.otf");
}

@font-face {
    font-family: "Gilroy-Light";
    src: url("/fonts/Gilroy-Light.otf");
}

$font-primary: Helvetica;
$font-secondary: Arial;
$font-tertiary: Gilroy-ExtraBold;
$font-quaternary: Gilroy-Light;
$primary-color: #316099;